* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.LOFA {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2px
}

.LOFA header {
    display: flex;
    flex-direction: column;
    gap: 2px
}